body {

    margin: 0;
    
    }
    
    h1 {
    
    margin: 0;
    
    } } a {
     
    }
    
    margin: 0;
    
    }
    
    }
    
    .header {
    
    display: flex;
    
    flex-direction: column; justify-content: flex-start;
    
    align-items: flex-end;
    
    padding: 10px;
    
    height: 15vh; background-color: #bb9019;
    
    main {
    
    min-height: 2000px; background-color: #15a543;
    
    .footer {
    
    background-color: height: 10vh;
    
    }
    
    rgb(222, 135, 154);
    
    .cards {
    
    display: flex; flex-wrap: wrap;
    
    justify-content: space-evenly;
    
    align-content: center;
    
    coral solid;
    
    }
    
    .card {
    
    border: 5px
    
    padding: 15px;
    
    margin: 10px;
    
    box-sizing: border-box;
    
    background-color: ☐ cyan;
    
    width: 300px; height: 250px;